<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Taylor Collins</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<MatDivider></MatDivider>

<MatNavMenu Class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <MatNavItem Class="mat-button" Style="color: white" Href="">
        <MatIcon Icon="@MatIconNames.Home"></MatIcon>&nbsp;Home
    </MatNavItem>
    <MatNavItem Class="mat-button" Style="color: white" Href="blogs">
        <MatIcon Icon="@MatIconNames.Folder"></MatIcon>&nbsp;Blogs
    </MatNavItem>
</MatNavMenu>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
