@page "/blogs"

@inject BlogStateManager BlogStateManager

<PageHeader Title="Blogs" />

@if (Blogs == null)
{
    <span>Loading...</span>
}
else
{
    <MatNavMenu>
        @foreach (var blog in Blogs.OrderByDescending(b => b.UploadDate))
        {
            var url = $"blogs/{blog.Id}";
            <MatNavItem Href="@url">@blog.Name</MatNavItem>
        }
    </MatNavMenu>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        Blogs = await BlogStateManager.GetBlogsAsync();
    }

    public IEnumerable<Blog> Blogs { get; private set; }
}