@page "/blogs"

@inject System.Net.Http.HttpClient Http

<PageHeader Title="Blogs" />

@if (Blogs == null)
{
    <span>Loading...</span>
}
else
{
    <MatNavMenu>
        @foreach (var blog in Blogs)
        {
            var url = $"blogs/{blog.Id}";
            <MatNavItem Href="@url">@blog.Title: @blog.Subtitle</MatNavItem>
        }
    </MatNavMenu>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        Blogs = await Http.GetJsonAsync<Blog[]>("https://s3.us-east-2.amazonaws.com/blogs.tay-co.com/index.json");
    }

    public Blog[] Blogs { get; private set; }

    public class Blog
    {
        [System.Text.Json.Serialization.JsonPropertyName("id")]
        public string Id { get; set; }

        [System.Text.Json.Serialization.JsonPropertyName("title")]
        public string Title { get; set; }

        [System.Text.Json.Serialization.JsonPropertyName("subtitle")]
        public string Subtitle { get; set; }
    }
}