@page "/blogs"

<MatThemeProvider Theme="@Warning">
    <div>
        <MatButton Icon="@MatIconNames.Warning" Outlined="true">Construction Zone</MatButton>
    </div>
</MatThemeProvider>

<br />
<p>
    Check back soon for some articles here.
</p>

<p>
    In the meantime, <NavLink href="about">connect with me</NavLink>!
</p>

@code
{
    MatTheme Warning = new MatTheme()
    {
        Primary = MatThemeColors.Orange._500.Value,
        Secondary = MatThemeColors.BlueGrey._500.Value,
    };
}