@page "/"
@page "/blogs"

@inject BlogService BlogService

<PageHeader Title="Blogs" />

@if (Blogs == null)
{
    <span>Loading...</span>
}
else
{
<div class="mat-layout-grid">
    <div class="mat-layout-grid-inner">
        @foreach (var blog in Blogs.OrderByDescending(b => b.UploadDate))
        {
            var url = $"blogs/{blog.Id}";
            <div class="mat-layout-grid-cell">
                <a href="@url">
                    <MatCard>
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="@blog.ImageUrl"></MatCardMedia>
                            <MatH6 Class="mat-card-content">@blog.Title</MatH6>
                            <MatSubtitle2 Class="mat-card-content">@blog.Subtitle</MatSubtitle2>
                        </MatCardContent>
                    </MatCard>
                </a>
            </div>
        }
    </div>
</div>
}

@code
{
    protected override async Task OnInitializedAsync()
    {
        Blogs = await BlogService.GetBlogsAsync();
    }

    public IEnumerable<Blog> Blogs { get; private set; }
}