@page "/blogs"

<PageHeader Title="Blogs" />

<MatIcon Icon="@MatIconNames.Warning" />
<MatIcon Icon="@MatIconNames.Warning" />
<MatIcon Icon="@MatIconNames.Warning" />

<MatBody1>
    This page is currently in progress.
    I'll be moving the articles I've published on <a href="https://medium.com/@@taylor.collins">Medium</a> here in the near future.
    Check back soon!
</MatBody1>

@code
{
    MatTheme Warning = new MatTheme()
    {
        Primary = MatThemeColors.Orange._500.Value,
        Secondary = MatThemeColors.BlueGrey._500.Value,
    };
}