@page "/blogs/{id}"

@inject System.Net.Http.HttpClient Http

<PageHeader Title="@Id" />

@if (Content == null)
{
    <span>Loading...</span>
}
else
{
    @((MarkupString)BuildHtmlFromMarkdown(Content))
}

@code {
    [Parameter]
    public string Id { get; set; }

    public string Content { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        Content = await Http.GetStringAsync($"https://s3.us-east-2.amazonaws.com/blogs.tay-co.com/{Id}.md");
    }

    private string BuildHtmlFromMarkdown(string value) => Markdig.Markdown.ToHtml(
        markdown: value,
        pipeline: new MarkdownPipelineBuilder().UseAdvancedExtensions().Build()
    );
}
