@namespace Tayco.Web.Components
@inherits ContactLinksBase

@foreach (var link in Link.All)
{
    <a href="@link.Url" target="_blank">
        <MatTooltip Tooltip="@link.Name" Wrap="true" Position="@MatTooltipPosition.Top">
            <MatButton><i class="@link.StylePrefix fa-@link.Icon"></i></MatButton>
        </MatTooltip>
    </a>
}