<h3>About Me</h3>



@code 
{
    class Contact
    {
        Contact(string url, string cssClass)
        {
            Url = url;
            CssClass = cssClass;
        }

        string Url { get; }
        string CssClass { get; }
    }
}
