@page "/about"

<h1>About Me</h1>

@foreach(var link in Link.All)
{
    <MatButton Link="@link.Url" Icon="@link.Icon"></MatButton>
}

@code
{
    class Link
    {
        public static readonly IEnumerable<Link> All = new List<Link>
        {
            new Link("mailto:tayco2702@gmail.com", "favorite")
        };

        private Link(string url, string icon)
        {
            Url = url;
            Icon = icon;
        }

        public string Url { get; }
        public string Icon { get; }
    }
}