@page "/aboutme"

<PageHeader Title="About Me" />

<MatBody1>
    Hi! My name's Taylor Collins and I'm a software engineer currently living in Boston, Massachsetts.
</MatBody1>

<MatH4>My background</MatH4>
<MatBody1>
    I started my career in software after graduating from SUNY Morrisville in upstate New York in 2015 where I recieved a Bachelor's degree in Application Software Development.
</MatBody1>
<MatBody1>
    Since then, I've gained a passion for building clean software that scales and performs well.
    I enjoy working with highly collaborative and driven teams to deliver software efficiently and effectively.
    I've been mainly working in the Microsoft ecosystem, writing C# code in .NET Core and using the latest offerings in Azure.
</MatBody1>

<MatH4>Hobbies</MatH4>
<MatBody1>
    <ul>
        <li>Being outdoors - mainly hiking and camping in the Adirondack Mountains</li>
        <li>Playing guitar</li>
        <li>Skateboarding</li>
        <li>Reading - favorite authors include Kurt Vonnegut and Neal Stephenson</li>
    </ul>
</MatBody1>