@namespace Tayco.Web.Components

<MatDivider />
<footer>
    <MatCaption>
        The source for this site can be found on <a href="https://github.com/t-j-c/tay-co">GitHub</a>.
    </MatCaption>
</footer>