name: PR Build

on:
  pull_request:
    branches: 
      - master

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@master
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.x'
      - run: dotnet build -c Release
      - run: dotnet test -c Release --no-build